---
import Logo from "@/components/svg/Logo.astro";
---

<footer class="bg-black text-white">
  <div class="mx-auto flex max-w-6xl flex-col items-center px-4 py-12">
    <div
      class="flex w-full flex-col items-center justify-between gap-4 md:flex-row md:gap-0"
    >
      <Logo class="h-auto w-32 fill-white" />
      <p class="text-sm font-medium text-white">
        &copy; 2024 - Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
